<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WebServices</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>TaxonNameParser</display-name>
		<servlet-name>TaxonNameParser</servlet-name>
		<servlet-class>org.big.servlet.TaxonNameParser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxonNameParser</servlet-name>
		<url-pattern>/taxonNameParser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NameGetBHLData</display-name>
		<servlet-name>NameGetBHLData</servlet-name>
		<servlet-class>org.big.servlet.NameGetBHLData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameGetBHLData</servlet-name>
		<url-pattern>/nameGetBHLData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NameGetBHLDataNew</display-name>
		<servlet-name>NameGetBHLDataNew</servlet-name>
		<servlet-class>org.big.servlet.NameGetBHLDataNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameGetBHLDataNew</servlet-name>
		<url-pattern>/nameGetBHLDataNew</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TitleGetBHLData</display-name>
		<servlet-name>TitleGetBHLData</servlet-name>
		<servlet-class>org.big.servlet.TitleGetBHLData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TitleGetBHLData</servlet-name>
		<url-pattern>/titleGetBHLData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookSearch</display-name>
		<servlet-name>BookSearch</servlet-name>
		<servlet-class>org.big.servlet.BookSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookSearch</servlet-name>
		<url-pattern>/bookSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PartSearch</display-name>
		<servlet-name>PartSearch</servlet-name>
		<servlet-class>org.big.servlet.PartSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PartSearch</servlet-name>
		<url-pattern>/partSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResultData</display-name>
		<servlet-name>ResultData</servlet-name>
		<servlet-class>org.big.servlet.ResultData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResultData</servlet-name>
		<url-pattern>/resultData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchGetEOLData</display-name>
		<servlet-name>SearchGetEOLData</servlet-name>
		<servlet-class>org.big.servlet.SearchGetEOLData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchGetEOLData</servlet-name>
		<url-pattern>/searchGetEOLData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PagesGetEOLData</display-name>
		<servlet-name>PagesGetEOLData</servlet-name>
		<servlet-class>org.big.servlet.PagesGetEOLData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PagesGetEOLData</servlet-name>
		<url-pattern>/pagesGetEOLData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DataObjectsGetEOLData</display-name>
		<servlet-name>DataObjectsGetEOLData</servlet-name>
		<servlet-class>org.big.servlet.DataObjectsGetEOLData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataObjectsGetEOLData</servlet-name>
		<url-pattern>/dataObjectsGetEOLData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NameGetGBIFData</display-name>
		<servlet-name>NameGetGBIFData</servlet-name>
		<servlet-class>org.big.servlet.NameGetGBIFData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameGetGBIFData</servlet-name>
		<url-pattern>/nameGetGBIFData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NameGetNCBIData</display-name>
		<servlet-name>NameGetNCBIData</servlet-name>
		<servlet-class>org.big.servlet.NameGetNCBIData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameGetNCBIData</servlet-name>
		<url-pattern>/nameGetNCBIData</url-pattern>
	</servlet-mapping>

	
</web-app>